.cuadrado {
    width: 100px;
    height: 100px;
    background-color:darkgrey;
    box-sizing: border-box; /*Buscar qué hace esta propiedad*/
}

.cuadrado.rojo {
    background-color: red;
}

.cuadrado.borde {
    border: 2px solid black;
}